<ion-view view-title="Agregar nuevo programador">
  <ion-content>
  <div class="list">
    <label class="item item-input item-floating-label">
      <span class="input-label">Nombre</span>
      <input type="text" placeholder="Nombre*" ng-model="agregar.nombre">
    </label>
    <label class="item item-input item-floating-label">
      <span class="input-label">Apellido</span>
      <input type="text" placeholder="Apellido*" ng-model="agregar.apellido">
    </label>
    <label class="item item-input item-floating-label">
      <span class="input-label">Edad</span>
      <input type="number" placeholder="Edad*" ng-model="agregar.edad">
    </label>
    <label class="item item-input item-select">
      <div class="input-label">
        Lenguaje favorito
      </div>
      <select ng-model="agregar.lenguaje_id">
        <option ng-repeat="l in lenguaje" value="{{l.id}}">{{l.lenguaje}}</option>
      </select>
    </label>
    <button class="button button-block button-balanced" ng-click="btnAgregar()">
      Agregar
    </button>
  </div>
  </ion-content>
</ion-view>
