<ion-view view-title="Inicio">
  <ion-content>
    <center>
      <h1>Bienvenido</h1>
      <h3>Agenda de programadores v1</h3>
    </center>
    <div class="list card">
      <div class="item item-avatar">
        <img src="img/js.png">
        <h2>Osvaldo Hernadez</h2>
        <p>Programador JS</p>
      </div>
      <div class="item item-body">
        <center>
          <img src="img/ionic.png"  width="202">
        </center>
        <p>
          Ionic es un completo SDK de código abierto para el desarrollo de aplicaciones móviles híbridas.
          La versión original fue lanzada en 2013 y construida sobre AngularJS y Apache Cordova.
          Los lanzamientos más recientes, conocidos como Ionic 2 o simplemente "Ionic",
          están construidos sobre Angular.
          Ionic proporciona herramientas y servicios para desarrollar aplicaciones móviles híbridas
          usando tecnologías Web como CSS, HTML5 y Sass.
        </p>
        <p>
          <a href="#" class="subdued">1 Like</a>
          <a href="#" class="subdued">5 Comments</a>
        </p>
      </div>
    </div>
  </ion-content>
</ion-view>
