<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-header-bar class="bar-stable">
      <h1 class="title">Left</h1>
    </ion-header-bar>
    <ion-content>
      <ion-list>
        <ion-item menu-close ng-click="login()" ng-hide="show_sesion">
          <i class="icon ion-arrow-right-c"></i>
          Login
        </ion-item>
        <ion-item menu-close href="#/app/agregar" ng-show="show_sesion">
          <i class="icon ion-plus-circled"></i>
          Agregar
        </ion-item>
        <ion-item menu-close href="#/app/programadores" ng-show="show_sesion">
          <i class="icon ion-person-stalker"></i>
          Programadores
        </ion-item>
        <ion-item menu-close href="#/app/sobre" ng-show="show_sesion">
          <i class="icon ion-android-globe"></i>
          Sobre la App
        </ion-item>
        <ion-item menu-close href="#/app/inicio" ng-show="show_sesion">
          <i class="icon ion-android-home"></i>
          Inicio
        </ion-item>
        <ion-item menu-close ng-click="btnCerrarSesion()" ng-show="show_sesion">
          <i class="icon ion-android-walk"></i>
          Cerrar sesión
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
