<ion-view view-title="Lista de programadores">
  <ion-content>
    <div class="bar bar-header item-input-inset">
      <label class="item-input-wrapper">
        <i class="icon ion-ios-search placeholder-icon"></i>
        <input type="search" placeholder="Buscar" ng-model="buscar">
      </label>
    </div>
    <div class="list">
        <a class="item item-avatar" ng-repeat="l in lista | filter:buscar" ng-click="openModalDesc(l)" on-hold="onHold(l)">
          <img src="{{l.img}}">
          <h2>{{l.nombre}}</h2>
          <p>Lenguaje favorito {{l.lenguaje}}.</p>
        </a>
    </div>

    <script id="my-modal.html" type="text/ng-template">
      <ion-modal-view ng-repeat="d in seleccion">
        <ion-header-bar>
          <h1 class="title">{{d.nombre + ' ' + d.apellido}}</h1>
        </ion-header-bar>
        <ion-content>
          <div class="list card">
            <a href="#" class="item item-icon-left">
              <i class="icon ion-pound"></i>
              {{d.id}}
            </a>
            <a href="#" class="item item-icon-left">
              <i class="icon ion-person"></i>
              {{d.nombre + ' ' + d.apellido}}
            </a>
            <a href="#" class="item item-icon-left">
              <i class="icon ion-man"></i>
              {{d.edad}}
            </a>
            <a href="#" class="item item-icon-left">
              <i class="icon ion-code-working"></i>
              {{d.lenguaje}}
            </a>
          </div>
          <button class="button button-block button-positive" ng-click="hideModal()">
            Atras
          </button>
        </ion-content>
      </ion-modal-view>
    </script>

  </ion-content>
</ion-view>
