<ion-view view-title="Sobre la aplicación">
  <ion-content>
    <div class="list">

      <div class="item item-divider">
        Programador
      </div>

      <a class="item item-icon-left">
        <i class="icon ion-social-octocat"></i>
        Jose Osvaldo Hernandez Rito
      </a>

      <a class="item item-icon-left item-icon-right">
        <i class="icon ion-code"></i>
        Programador JavaScript
        <i class="icon ion-ios-heart"></i>
      </a>

      <a class="item item-icon-left">
        <i class="icon ion-mic-a"></i>
        Estudiante
        <span class="item-note">
          IPN
        </span>
      </a>

      <a class="item item-icon-left">
        <i class="icon ion-social-github"></i>
        github.com/HECNT
      </a>

      <div class="item item-divider">
        Tecnologias usadas
      </div>

      <a class="item item-icon-left" href="http://ionicframework.com">
        <i class="icon ion-ios-ionic-outline"></i>
        Ionic
      </a>

      <a class="item item-icon-left" href="https://nodejs.org/es/">
        <i class="icon ion-social-nodejs"></i>
        NodeJS
      </a>

      <a class="item item-icon-left" href="https://angularjs.org/">
        <i class="icon ion-social-angular"></i>
        AngularJS
      </a>

      <a class="item item-icon-left" href="https://developer.mozilla.org/es/docs/HTML/HTML5">
        <i class="icon ion-social-html5"></i>
        Html5
      </a>

    </div>
  </ion-content>
</ion-view>
